* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container {
   margin: 0 auto;
   background-color: #151515;
}
footer {
   display: flex;
   justify-content: space-between;
   height: 500px;
   color: #ccc;
   margin: 0 30px;
}
h3 {
   font-size: 30px;
   padding: 20px 0;
}

p {
   padding: 20px 0;
}

li {
   list-style-type: none;
   padding: 12px 0;
}
button,
input {
   padding: 12px 12px;
   border-radius: 6px;
   border: none;
   outline: none;
}
button {
   margin-left: 12px;
   background-color: blue;
   color: white;
}
.content-1 {
   flex: 2;
}
.content-2 {
   flex: 1;
}
.content-3 {
   flex: 1;
}

.list-item {
   color: #ccc;
   text-decoration: none;
}
a:hover {
   color: #eee;
}
.list-icon {
   display: inline-block;
   position: relative;
   background-color: blue;
   border-radius: 50%;
   width: 40px;
   height: 40px;
}
i {
   position: absolute;
   color: #fff;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.list-icon:hover {
   background-color: #fff;
}

.list-icon:hover i {
   color: blue;
}
 button:hover {
   cursor: pointer;
   background-color: aquamarine;
 }