* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
   --primary: #141414;
   --light: #f3f3f3;
   --dark: #686868;
}

html,
body {
   width: 100vw;
   min-height: 100vh;
   background-color: var(--primary);
   color: var(--light);
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.4rem;
    
}
body {
  -ms-overflow-style: none; /* cho  Internet Explorer, Edge */
  scrollbar-width: none; /* cho Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* cho Chrome, Safari, and Opera */
}

a {
   text-decoration: none !important;
}

ul {
   list-style-type: none;
}

h1 {
   padding-top: 60px;
}

/* HEADER */
header {
   padding: 20px 20px 0 20px;
   position: fixed;
   top: 0;
   display: flex;
   background-color: var(--primary);
   width: 100%;
   margin-bottom: 0px;
   z-index: 1;
}

.netflixLogo {
   width: 100px;
   max-height: 100%;
   padding-left: 30px;
   padding-top: 0px;
}

.netflixLogo img {
   width: 100px;
}

#logo {
   color: #e50914;
}

.main-nav {
   flex-grow: 1;
   padding: 0 30px 0 30px;
}

.main-nav a {
   color: var(--light);
   margin: 5px;
}

.main-nav a:hover {
   color: var(--dark);
}

.sub-nav {
   padding: 0 40px 0 40px;
}

.sub-nav a {
   color: var(--light);
   margin: 5px;
}

.sub-nav a:hover {
   color: var(--dark);
}

/* SLIDER */
.slider {
   margin: 25px auto;
   position: relative;
}

.slider img {
   display: block;
   max-width: 100%;
}

.slider-next,
.slider-prev {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: 50px;
   height: 50px;
   border-radius: 100rem;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   font-size: 20px;
   z-index: 10;
   opacity: 0.3;
   transition: all 0.5s ease;
}
.slider-next:hover,
.slider-prev:hover {
   opacity: 1;
   color: rgba(0, 0, 0, 0.3);
   background-color: white;
   box-shadow: rgba(60, 60, 61, 0.2) 0px 7px 29px 0px;
}

.slider-next {
   right: 25px;
}

.slider-prev {
   left: 25px;
}

.slider-dots {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
   z-index: 10;
}

.slider-dots li {
   margin: 0 10px;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background-color: #999;
   cursor: pointer;
   transition: background-color 0.25s linear;
}

.slider-dots li.active {
   background-color: white;
}
.slider-wrapper {
   width: 100%;
   height: 900px;
   overflow: hidden;
   position: relative;
}

.slider-main {
   display: flex;
   position: relative;
   transition: transform .5s ease-in-out;
   height: 100%;
}
.slider-item {
   height: 100%;
   width: 100%;
   flex: 1 0 100%;
   user-select: none;
}

.slider-item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}


.slider-info {
   position: absolute;
   z-index: 1000;
}
/* MAIN CONTIANER */
.main-container {
   padding: 50px;
}

.box ul {
   display: flex;
   gap: 10px;
}

.box li a {
   width: 16%;
   transition: transform 0.3s;
}

.box li:hover {
   transition: transform 0.3s;
   transform: scale(1.4);
}

.box img {
   border-radius: 2px;

   width: 100%;
   height: 100%;
}

/* LINKS */
.link {
   padding: 50px;
}
.info {
   display: flex;
   justify-content: space-between;
}
.info ul {
   list-style: none;
   padding: 0;
}
.info li {
   padding: 5px 0;
}

.info a {
   color: var(--dark);

   text-decoration: none;
}

.info a:hover {
   color: var(--light);
   text-decoration: underline;
}

.logos a {
   padding: 10px;
}
.logo {
   color: var(--dark);
}
.logo:hover {
   color: var(--light);
}

/* FOOTER */
footer {
   padding: 20px;
   text-align: center;
   color: var(--dark);
   margin: 10px;
}
