* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
   --primary: #141414;
   --light: #f3f3f3;
   --dark: #686868;
}

html,
body {
   
   background-color: var(--primary);
   color: var(--light);
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.4;
}
a {
   text-decoration: none !important;
}


h1 {
   padding-top: 60px;
}
/* NAV-BAR */
   .nav-header {
      display: none;
      align-items: center;
   }


/* HEADER */
header {
   padding: 20px 20px 0 20px;
   position: fixed;
   top: 0;
   display: flex;
   background-color: var(--primary);
   width: 100%;
   margin-bottom: 0px;
}

.netflixLogo {
   grid-area: nt;
   object-fit: cover;
   width: 100px;
   max-height: 100%;
   padding-left: 30px;
   padding-top: 0px;
}

.netflixLogo img {
   width: 100px;
}

#logo {
   color: #e50914;
}

.main-nav {
   flex-grow: 2;
   padding: 0 30px 0 30px;
   align-self: center;
}

.main-nav a {
   color: var(--light);
   margin: 5px;
}

.main-nav a:hover {
   color: var(--dark);
}

.sub-nav {
   align-self: center;
   padding: 0 40px 0 40px;
}

.sub-nav a {
   color: var(--light);
   margin: 5px;
}

.sub-nav a:hover {
   color: var(--dark);
}

/* MAIN CONTIANER */
.main-container {
   padding: 50px;
}

.box {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

.box a {
   padding: 5px;
   width: 16.6%;
   transition: transform 0.3s;
}

.box a:hover {
   transition: transform 0.3s;
   transform: scale(1.4);
}

.box img {
   border-radius: 2px;
   width: 100%;
   height: 100%;
}

/* LINKS */
.link {
   padding: 50px;
}
.info {
   display: flex;
   justify-content: space-between;
}
.info ul {
   list-style: none;
   padding: 0;
}
.info li {
   padding: 5px 0;
}

.info a {
   color: var(--dark);

   text-decoration: none;
}

.info a:hover {
   color: var(--light);
   text-decoration: underline;
}

.logos a {
   padding: 10px;
}
.logo {
   color: var(--dark);
}
.logo:hover {
   color: var(--light);
}

/* FOOTER */
footer {
   padding: 20px;
   text-align: center;
   color: var(--dark);
   margin: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
   .box {
      width: 100vw;
   }

   .box a {
      display: flex;
      width: 49%;
      gap: 20px;
   }
   .main-nav {
      display: none;
   }
   .main-container {
      padding: 0px;
   }
   header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
   }
   .netflixLogo {
      padding: 0;
   }
   .sub-nav {
      padding: 0;
   }
}

@media (max-width: 500px) {
   .box {
      width: 100vw;
   }
   .box a {
      display: flex;
      width: 100%;
   }
   .main-nav {
      display: none;
   }
   .main-container {
      padding: 0px;
   }
}
