* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
}
header {
   text-align: center;
}
h1 {
   margin: 30px 0;
   font-size: 50px;
}
.nav {
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
   list-style: none;

}
.nav-list {
   display: inline-block;
   margin: 40px;
}
a:hover {
   color: brown;
}

.content {
   font-size: 0;
}
article {
   display: inline-block;
   width: 20%;
   height: 700px;
  text-align: center;
  margin-top: 20px;
  vertical-align: top;
  font-size: 14px;
  border: 1px solid #000;
}
img {
   width: 100px;
   height: 100px;
}
 
section {
   display: inline-block;
   margin-top: 20px;
   width: 60%;
   height: 700px;
   border: 1px ridge #000;
}
ul {
   list-style: none;
}